---
import { profile } from "../../data/profile";
---

<footer class="footer">
  <div class="container footer-content">

    <div>

      <h3>{profile.name}</h3>

      <p>{profile.title}</p>

    </div>

    <div class="footer-links">

      <a href={profile.github}>GitHub</a>

      <a href={profile.linkedin}>LinkedIn</a>

      <a href={`mailto:${profile.email}`}>
        Email
      </a>

    </div>

  </div>

  <p class="copyright">
    © 2026 {profile.name}
  </p>

</footer>